@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
 
.header {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: lightseagreen;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 178, 170), 0 0 5px rgb(0, 139, 139);
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 0px;
}

 .footer {
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  font-size: 20px;
  background-color:darkcyan;
  color: whitesmoke;
  text-shadow: 1px 1px 3px black, 0 0 25px lightseagreen, 0 0 5px darkcyan;
min-height: 40px;
} 
.image{
  width: 100%;
  height: 700px;
  border: 1px solid darkcyan;
} 
 /*---------------------------------- Navigation bar controls ------------------------------- */
 .navbar { 
  margin: 0;
  padding: 0;
  /* padding: 0 10; */
  left: 0%;
  top: 0;
  overflow: hidden;
  width: 100%;
  line-height: 35px;
  font-size: 20px;
  background-color:darkcyan;
  text-shadow: 1px 1px 0px black;
}
.navbar-right{
  float:right;
  font-size: 20px;
} 
.navbar a {
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  display: block;
}
.active {
  background-color: rgb(8, 190, 181);
  color: whitesmoke;
}

 .navbar .icon {
  display: none;
} 

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  
  border: none;
  outline: none;
  color:#f5f5f5;
  padding: 16px;
  background-color: inherit;
  font-family: inherit;
  font-size: 20px;
  margin: 0;
}
.dropdown-content {
 
  display: none;
  position: absolute;
  background-color:whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px lightgray;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:lightseagreen;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
 
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color:#20b2aa;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 900px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
   font-size:20px ; 
   text-shadow: 1px 1px 2px black;
   
  }
}

@media screen and (max-width: 900px) {
  .navbar.responsive {position:relative;}
 
  .navbar.responsive .icon {
    position:absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position:relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.block {
  display: block;
  padding-top: 10px;
} 

/* ---------------------------------- Form and Form Controls ------------------------------- */
.form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 3px;
}

.form input {
  padding: 3px;
}

.form label {
  width: 150px;
  margin: auto;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 600px;
}

button {
  color: black;
  padding: 10px;
  margin: 10px;
  margin-left: 30px;
  background-color:darkcyan;
  border-radius: 5px;
  font-size: 15px;
}
button:hover {
  background-color: lightseagreen;
}
.required:after {
  content: "*";
  color: red;
}
#child_id,
#staff_id {
  margin-left: 30px;
  margin-top: 0px;
  width: 45%;
  height: 45px;
  border-radius: 50px;
  display: inline-block;
}
#gender,
#district,
#state,
#time {
  width: 70%;
  height: 40px;
  padding: 6px 15px;
  margin: 8px 0px;
  margin-top: 0px;
  border-radius: 3px;
  font-size: 15px;
  border: 2px solid grey;
  background-color: white;
}
/* ---------------------------------- Controls for Login and Register page------------------------------- */
/* .login-container{
  border: 2px solid blue;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color:linear-gradient(white, lightgrey);
} */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"] {
  display: block;
  width: 70%;
  height: 40px;
  color: black;
  padding: 10px 15px;
  margin: 8px 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 15px;
  border: 2px solid grey;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"],
input[type="date"]:hover {
  color: black;
}

/* ---------------------------------- Controls for Child List page------------------------------- */
#child {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 50px;
  width: 100%;
}

#child td,
#child th {
  border: 2px solid #ddd;
  text-align: center;
}
#child tr:hover {
  background-color: #ddd;
}

#child th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightseagreen;
  color: whitesmoke;
  font-size: 17px;
  text-shadow: 1px 1px 3px black;
}
/* ---------------------------------- Controls for staff dashboard cards------------------------------- */
.card {
  background-color: rgb(203, 227, 236);
  color: black;
  padding: 20px;
  border-radius: 5px;
  height: 180px;
  font-size: 20;
  text-align: center;
 
}

.cards {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  gap:2rem;
  margin-top: 30px;
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

/* ---------------------------------- Controls for Child Registration form------------------------------ */
* {
  box-sizing: border-box;
}

.main-column {
  margin-top: 15px;
  margin-left: 20px;
  float: left;
  width: 30%;
  padding: 10px;
}
.main-row:after {
 
  content: "";
  display: table;
  clear: left;
  
}
/* ---------------------------------- Controls for modal------------------------------ */
/* .modal {
  background-color: beige;
  width: 500px;
  margin: 200 100;
  border: 1px solid rgb(107, 81, 48);
  padding: 0px;
  display: none;
  z-index: 1;
  position: fixed;
} */

/* .modal-header {
  background-color: gray;
  color: white;
  padding: 1px;
  font-weight: bold;
  padding: 10px;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  text-align: right;
  background-color: lightseagreen;
 
} */
/* ---------------------------------- Controls for modal------------------------------ */

.Modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: whitesmoke;
  width: 40%;
  margin: auto;
  margin-top: 200px;
  border: 2px solid black;
}

.modal-header {
  background-color: darkcyan;
  color: whitesmoke;
  min-height: 50px;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px 5px black;
}

.modal-body {
  min-height: 60px;
  padding: 5px;
  text-align: center;
}

.modal-footer {
  padding: 5px;
  text-align: center;
  background-color: lightseagreen;

 
}
/*------------------------Ready-made Login Form------------------------------*/


body{
  background:whitesmoke;
  
}

::selection{
  background:#008b8b;
}

.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
  margin-top:90px;
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

.wrapper .title{
  height: 90px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form{
  padding: 30px 25px 25px 25px;
}

.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input,.row select{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus,.row select:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder,select option{
  color: #999;
}

select.decorated option a:hover {
  box-shadow: 0 0 10px 100px lightseagreen inset ;
}

select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}

 .wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}

.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
} 
